<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/navbar') %>
  <style>





























  </style>
  <body>
    <div style="padding: 80px; text-align: center;">
      <h1>Sistema de cadastro e login de usuário</h1>
    </div>
  </body>
</html>